
p {
clear:both;
}

.wrap h1.instagrate-icon:before {
	font-size: 30px;
	margin-right: 15px;
	margin-top: 2px;
}


.pro-notice {
	margin: 0;
}

#ipp_content_wrap {
	float: left;
	width:75%;
}

#ipp_content_left
{

}

#ipp_content_right
{

}

#ipp_sidebar
{
	width:25%;
	float: right;
	max-width:400px;
}
.igp-banner img {
	width: 100%;
}

.igp-upgrade-details ul {
	margin-top: 0;
	margin-left: 16px;
	list-style-type: disc;
	font-size: 14px;
	font-weight: 500;
}
.igp-sidebar .subscribe h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
	color: #666;
	font-size: 20px;
	line-height: 1.2em;
	float: none;
}

.igp-sidebar .subscribe .field {
	margin-bottom: 0.5em;
}

.igp-sidebar .subscribe .field input[type=text], .igp-sidebar .subscribe .field input[type=email] {
	width: 100%;
}
.igp-sidebar .subscribe .intro {
	margin-bottom: 1em;
	line-height: 1.4;
}

.igp-banner h1 {
	font-size: 28px;
	font-weight: 200;
	margin: 0;
	position: absolute;
	top: 25px;
	left: 20px;
	text-decoration: none;
}

body.settings_page_instagratetowordpress .metabox-holder {
	padding-top: 0 !important;
}
body.settings_page_instagratetowordpress .postbox {
	margin-bottom: 0 !important;
}

h4 {
margin-bottom: 0px;
}

#logo:hover
{
	opacity: 0.75;
}

.postbox {
    margin: 10px 10px 0 0;
}

label.textinput {
	width: 110px;
	margin: 5px 10px 5px 0;
	float: left;
}

.success {
background-color: #D1EED1;
border: solid 1px #52A852;
margin: 5px 0 0px;
 padding: 0 0 0 7px;
 border-radius: 3px 3px 3px 3px;

}

.info {
background-color: #DEF1F7;
border: solid 1px #60C6E5;
margin: 5px 0 0px;
padding: 10px;
border-radius: 3px 3px 3px 3px;

}

.itw_info, .itw_connected, .itw_disconnected, .itw_setup, .itw_saved, .itw_issue{
margin: 10px 0px;
padding:8px 10px 8px 40px;
background-repeat: no-repeat;
background-position: 10px 10px;
float: left;
}

.itw_info p , .itw_connected p , .itw_disconnected p, .itw_setup p, .itw_saved p, .itw_issue p
{

margin: 0;
padding: 0;
}
.itw_info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/exclamation.png');
}
.itw_connected {
background-color: #D1EED1;
background-image:url('../images/connect.png');
}
.itw_setup {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/lock_unlock.png');
}
.itw_disconnected {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/disconnect.png');
}

.itw_saved {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/disk.png');
}

.itw_issue {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/error.png');
}

.itw_connected p span
{
	font-weight: bold;
	
}

.loggedin {

float: left;
}

.logout {

float: left;
margin-left: 5px;
margin-top: 15px;
}


#wpbody-content .metabox-holder
{
padding-top: 0;
}

.success p {
padding: 2px;
margin: 6px 0;

}

input[type="text"], input[type="password"], select
{
	width: 200px;
}

.body_text, .body_title, .img_select
{
width:100%;
}


.h2_left
{

float:left;
}

.loggedin
{
margin-top:10px;
float:right;
}

.image_left{
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.image_right
{
	float: left;
	height: 120px;
	margin-right: 10px;
	margin-bottom: 10px;
}

a.feed_image
{
	display: block;
	/*border: 1px solid #dfd0cb;
	border-width: 0 1px 1px 0;
	margin: 20px 20px 1em 20px;*/
	float: left;
	position: relative;
}

a.feed_image img {
	width: 100%;
}
a.feed_image:hover { border-color: #000; }
 
	a.feed_image:hover .overlay
	{
		position: absolute;
		z-index: 3;
		width: 120px;
		height: 120px;
		
	}
		a.feed_image .overlay .caption
		{
			position: absolute;
			height: 120px;
			width: 120px;
			-moz-box-sizing:    border-box;
			-webkit-box-sizing: border-box;
			box-sizing:        border-box;
			padding:10px;
			z-index: 3;
			text-indent: -9999em;
			color: #fff;
			font-size: 14px;
			line-height: 20px;
			font-family: "Helvetica, Arial, sans-serif";
			bottom: 0;
			overflow: hidden;
		}
		a.feed_image:hover .caption
		{
			text-indent: 0px;
			background: rgb(0,0,0);
			/* for browsers that know rgba */
			background: rgba(0, 0, 0, 0.75);
		}
		a.feed_image img { display: block; }

.clear
{
	clear: both;
}

#itw_footer
{
margin-top: 20px;
height: 60px;
background-color: #E2E2E2;
padding: 0 10px;
border-radius: 5px;


}

#itw_footer #links
{
float: left;
width: 70%;
text-align: left;
margin: 22px 0 18px;
}