<?xml version="1.0" encoding="UTF-8"?>
<!-- Unit tests that run without WordPress: phpunit -c tests/unit/phpunit.xml (PHPUnit 9). -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
